div(id="main")
    div(id="header")
        h1(class="title") Neutron Audio
        button(onclick="window.location.href = 'entry.html'", class="main-button") Add Tracks...
    div(id="album-container")
        each track in music
            - console.log(track)
            div(class="album-box")
                img(class="cover-art", src="assets/art/" + track.cover_path, alt=track.album_title)
                div(class="album-box-inner")
                    h3= track.album_title
                    div(id="contiainer") Hello there