body {
    margin: auto;
    background-color: #131313;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

#main {
    width: 85%;
    margin: auto;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#album-container {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    margin-left: 5px;
}

.album-box {
    background-color: #202020;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.album-box-inner {
    margin-left: 15px;
}

.cover-art {
    margin: 5px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.main-button {
    background-color: #202020;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0px;
}

.artist-name {
    font-size: 0.8rem;
}

.album-box:hover {
    background-color: #303030;
}

.main-button:hover {
    background-color: #303030;
}