main
    div(class="component-container", id="motherboard", onclick="openPopup('motherboard')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 Motherboard
            p Select a Motherboard...

    div(class="component-container", id="cpu", onclick="openPopup('cpu')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 CPU
            p Select a CPU...

    div(class="component-container", id="cooler", onclick="openPopup('cpu_cooler')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 CPU Cooler
            p Select a CPU Cooler...

    div(class="component-container", id="ram", onclick="openPopup('ram')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 RAM
            p Select RAM...

    div(class="component-container", id="storage", onclick="openPopup('storage_slots')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 Storage
            p Select Storage...

    div(class="component-container", id="gpu", onclick="openPopup('gpu')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 Video Card
            p Select a Video Card...

    div(class="component-container", id="case", onclick="openPopup('case')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 Case
            p Select a Case...

    div(class="component-container", id="additional-cooling", onclick="openPopup('case_fan')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 Additional Cooling
            p Select Additional Cooling...

        //- div(class="cc-inner", id="fan-counter")
        //-     h3 Count
        //-     h1 0

    div(class="component-container", id="psu", onclick="openPopup('psu')")
        img(src="assets/components/default.png", class="cc-image")
        
        div(class="cc-inner")
            h3 Power Supply
            p Select a Power Supply...
