nav
    div(id="header")
        img(src="assets/busmapper.png", alt="BusMapper logo", id="header-image")

    h1(id="no-support-text") Your browser is not supported. Please use a different client to access BusMapper.
    h1(id="no-space-text") Your browser window is not wide enough to display this page. If you are accessing BusMapper from a mobile device, rotate its screen to resolve this.