div(id="component-menu")
    div(class="cc-inner")
        h2= "Select a Component..."

    div(class="popup-menu")
        each component in components[filter]
            div(class="component-container", id=component.id)
                img(src="assets/components/" + component.image + ".png", class="cc-image")

                div(class="cc-inner")
                    h3= component.name
                    p= component.description

        div(class="component-container", onclick="window.location.href = '/config'")
            img(src="assets/components/back.png", class="cc-image")

            div(class="cc-inner")
                h3 Cancel