div(id="footer")
    img(src="/images/monks.png", alt="Institute Members", onclick="window.location.href = '/members'", class="footer-button")
    img(src="/images/change_ivory.png", alt="Join the Institute", onclick="window.location.href = '/createaccount'", class="footer-button")
    img(src="/images/frangiclave.png", alt="Prove your Identity", onclick="window.location.href = '/login'", class="footer-button")
    img(src="/images/letter_generic.png", alt="Contact the Librarian", onclick="window.location.href = '/contact'", class="footer-button")