doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Join | The Lighthouse Institute
        link(rel="stylesheet", href="/style.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Forum&display=swap")
        link(rel="icon", href="/images/secretary-persistent.png")
        script(src="create-account.js", defer) 

    body
        div(id="main")
            div(id="top-bar")
                img(id="header-image" src="/images/secretary-persistent.png", onclick="window.location.href = '/home'")
                h1(id="title") The Lighthouse Institute
            hr(class="top-divider")
        
            div(id="post-header")
                h2(class="header-item") Verify your Identity
            div(id="login-container")
                input(id="username-entry", class="login-entry", placeholder="Username", maxlength=25)
                input(id="password-entry", class="login-entry", placeholder="Password", type="password", maxlength=25)
                button(id="confirm-button", onclick="login()") ENTER
            p(id="error-label")

        include footer.pug