doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The Stag Door
        link(rel="stylesheet", href="admin_style.css")
    body
        h1 GHIBRI, THE GATEKEEPER
        form
            label(for="password", id="password-label") Present your pass-phrase, traveller...
            br
            input(type="password" name="password")
            input(type="submit", value="ENTER")
        
        if password_entered === true
            p "That," the Gatekeeper thunders, "is not the answer."